<%-include("./partials/header.ejs")%>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<body>
  <div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
      <div class="mobile-header-top">
        <div class="mobile-header-logo">
          <a href="index.html"
            ><img src="assets/imgs/theme/logo.svg" alt="logo"
          /></a>
        </div>
        <div
          class="mobile-menu-close close-style-wrap close-style-position-inherit"
        >
          <button class="close-style search-close">
            <i class="icon-top"></i>
            <i class="icon-bottom"></i>
          </button>
        </div>
      </div>
      <div class="mobile-header-content-area">
        <div class="mobile-search search-style-3 mobile-header-border">
          <form action="#">
            <input type="text" placeholder="Search for items…" />
            <button type="submit"><i class="fi-rs-search"></i></button>
          </form>
        </div>
        <div class="mobile-menu-wrap mobile-header-border">
          <div class="main-categori-wrap mobile-header-border">
            <a class="categori-button-active-2" href="#">
              <span class="fi-rs-apps"></span> Browse Categories
            </a>
            <div class="categori-dropdown-wrap categori-dropdown-active-small">
              <ul>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-dress"></i>Women's Clothing</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-tshirt"></i>Men's Clothing</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-smartphone"></i> Cellphones</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-desktop"></i>Computer & Office</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-cpu"></i>Consumer Electronics</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-home"></i>Home & Garden</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-high-heels"></i>Shoes</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-teddy-bear"></i>Mother & Kids</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-kite"></i>Outdoor fun</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- mobile menu start -->
          <!-- <nav>
            <ul class="mobile-menu">
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="index.html">Home</a>
                <ul class="dropdown">
                  <li><a href="index.html">Home 1</a></li>
                  <li><a href="index-2.html">Home 2</a></li>
                  <li><a href="index-3.html">Home 3</a></li>
                  <li><a href="index-4.html">Home 4</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span
                ><a href="shop-grid-right.html">shop</a>
                <ul class="dropdown">
                  <li>
                    <a href="shop-grid-right.html">Shop Grid – Right Sidebar</a>
                  </li>
                  <li>
                    <a href="shop-grid-left.html">Shop Grid – Left Sidebar</a>
                  </li>
                  <li>
                    <a href="shop-list-right.html">Shop List – Right Sidebar</a>
                  </li>
                  <li>
                    <a href="shop-list-left.html">Shop List – Left Sidebar</a>
                  </li>
                  <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span
                    ><a href="#">Single Product</a>
                    <ul class="dropdown">
                      <li>
                        <a href="shop-product-right.html"
                          >Product – Right Sidebar</a
                        >
                      </li>
                      <li>
                        <a href="shop-product-left.html"
                          >Product – Left Sidebar</a
                        >
                      </li>
                      <li>
                        <a href="shop-product-full.html"
                          >Product – No sidebar</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li><a href="shop-filter.html">Shop – Filter</a></li>
                  <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                  <li><a href="shop-cart.html">Shop – Cart</a></li>
                  <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                  <li><a href="shop-compare.html">Shop – Compare</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="#">Mega menu</a>
                <ul class="dropdown">
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span
                    ><a href="#">Women's Fashion</a>
                    <ul class="dropdown">
                      <li><a href="shop-product-right.html">Dresses</a></li>
                      <li>
                        <a href="shop-product-right.html">Blouses & Shirts</a>
                      </li>
                      <li>
                        <a href="shop-product-right.html"
                          >Hoodies & Sweatshirts</a
                        >
                      </li>
                      <li>
                        <a href="shop-product-right.html">Women's Sets</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span
                    ><a href="#">Men's Fashion</a>
                    <ul class="dropdown">
                      <li><a href="shop-product-right.html">Jackets</a></li>
                      <li>
                        <a href="shop-product-right.html"
                          >Casual Faux Leather</a
                        >
                      </li>
                      <li>
                        <a href="shop-product-right.html">Genuine Leather</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span><a href="#">Technology</a>
                    <ul class="dropdown">
                      <li>
                        <a href="shop-product-right.html">Gaming Laptops</a>
                      </li>
                      <li>
                        <a href="shop-product-right.html">Ultraslim Laptops</a>
                      </li>
                      <li><a href="shop-product-right.html">Tablets</a></li>
                      <li>
                        <a href="shop-product-right.html">Laptop Accessories</a>
                      </li>
                      <li>
                        <a href="shop-product-right.html">Tablet Accessories</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span
                ><a href="blog-category-fullwidth.html">Blog</a>
                <ul class="dropdown">
                  <li>
                    <a href="blog-category-grid.html">Blog Category Grid</a>
                  </li>
                  <li>
                    <a href="blog-category-list.html">Blog Category List</a>
                  </li>
                  <li>
                    <a href="blog-category-big.html">Blog Category Big</a>
                  </li>
                  <li>
                    <a href="blog-category-fullwidth.html"
                      >Blog Category Wide</a
                    >
                  </li>
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span
                    ><a href="#">Single Product Layout</a>
                    <ul class="dropdown">
                      <li><a href="blog-post-left.html">Left Sidebar</a></li>
                      <li>
                        <a href="blog-post-right.html">Right Sidebar</a>
                      </li>
                      <li>
                        <a href="blog-post-fullwidth.html">No Sidebar</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="#">Pages</a>
                <ul class="dropdown">
                  <li><a href="page-about.html">About Us</a></li>
                  <li><a href="page-contact.html">Contact</a></li>
                  <li><a href="page-account.html">My Account</a></li>
                  <li>
                    <a href="page-login-register.html">login/register</a>
                  </li>
                  <li>
                    <a href="page-purchase-guide.html">Purchase Guide</a>
                  </li>
                  <li>
                    <a href="page-privacy-policy.html">Privacy Policy</a>
                  </li>
                  <li><a href="page-terms.html">Terms of Service</a></li>
                  <li><a href="page-404.html">404 Page</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="#">Language</a>
                <ul class="dropdown">
                  <li><a href="#">English</a></li>
                  <li><a href="#">French</a></li>
                  <li><a href="#">German</a></li>
                  <li><a href="#">Spanish</a></li>
                </ul>
              </li>
            </ul>
          </nav> -->
          <!-- mobile menu end -->
        </div>
        <div class="mobile-header-info-wrap mobile-header-border">
          <div class="single-mobile-header-info mt-30">
            <a href="page-contact.html"> Our location </a>
          </div>
          <div class="single-mobile-header-info">
            <a href="page-login-register.html">Log In / Sign Up </a>
          </div>
          <div class="single-mobile-header-info">
            <a href="#">(+01) - 2345 - 6789 </a>
          </div>
        </div>
        <!-- <div class="mobile-social-icon">
          <h5 class="mb-15 text-grey-4">Follow Us</h5>
          <a href="#"
            ><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""
          /></a>
          <a href="#"
            ><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""
          /></a>
          <a href="#"
            ><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""
          /></a>
          <a href="#"
            ><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""
          /></a>
          <a href="#"
            ><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""
          /></a>
        </div> -->
      </div>
    </div>
  </div>
  <main class="main">
    <div class="page-header breadcrumb-wrap">
      <div class="container">
        <div class="breadcrumb">
          <a href="index.html" rel="nofollow">Home</a>
          <span></span> Shop <span></span> Checkout
        </div>
      </div>
    </div>
    <section class="mt-50 mb-50">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div
              class="mt-5 mb-15 d-flex align-items-center justify-content-between"
            >
              <h4>Select Address</h4>
              <h6>
                <a
                  style="background-color: grey; border: grey; color: black"
                  class="btn btn-small"
                  href="/user/add-address?isCheckout=true"
                  >Add address</a
                >
              </h6>
            </div>
            <div class="col-12">
              <div class="divider mt-10 mb-10"></div>
            </div>
            <div class="col-lg-10 ml-30">
              <% if (userAddress) { %> <%
              userAddress.address.forEach((address,index)=> { %>
              <div
                class="card mb-3 mb-lg-0 mt-20 col-12 <%= (index % 2 == 1) ? '' : '' %>"
              >
                <div class="card-header">
                  <input type="radio" name="address" id="<%= address._id %>"
                  style="height: 1rem" value="<%= address._id %>"
                  class="selected-address" <%= (index === 0) ? 'checked' : '' %>
                  />
                  <h5 class="mb-0 d-flex align-items-center">
                    <%= address.addressType %>
                  </h5>
                </div>
                <div class="card-body">
                  <address>
                    <%= address.name %><br />
                    <%= address.city %>,<br />
                    <%= address.landMark %><br />
                    <%= address.state %>
                  </address>
                  <p><%= address.pincode %></p>
                  <p><%= address.phone %></p>
                  <p><%= address.altPhone %></p>
                </div>
              </div>
              <% }); %> <% } else { %>
              <div class="card mb-3 mb-lg-0">
                <div class="card-header text-center">
                  <h5 class="mb-0">No Address Found</h5>
                </div>
                <div class="card-body">
                  <address>
                    Click Here to
                    <a href="/user/add-address">Add New Address</a>
                  </address>
                </div>
              </div>
              <% } %>
            </div>
          </div>

          <div class="col-lg-8">
            <div class="order_review">
              <div
                class="mb-20 d-flex align-items-center justify-content-center"
              >
                <h4>Your Orders</h4>
              </div>
              <div class="table-responsive order_table text-center">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Image</th>
                      <th>Product</th>
                      <th>Quantity</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (userCart) { userCart.products.forEach((element) => {
                    %>
                    <tr>
                      <td>
                        <img
                          src="<%=element.productId.images[0].path%>"
                          alt="Image"
                          style="max-width: 100px"
                        />
                      </td>
                      <td>
                        <a
                          href="/user/product-details/<%=element.productId._id%>"
                          ><%= element.productId.description %></a
                        >
                      </td>
                      <td><%= element.quantity %></td>
                      <td>
                        ₹<%= element.productId.salesPrice * element.quantity%>
                      </td>
                    </tr>
                    <% }); } %>
                    <tr>
                      <th colspan="2">SubTotal</th>
                      <td class="product-grandTotal-td" colspan="2">
                        <span>₹</span>
                        <span class="sub-total" id="SUBTOTAL">
                          <%= grandTotal %>
                        </span>
                      </td>
                    </tr>
                    <tr id="couponRow">
                      <th colspan="2">Shipping</th>
                      <td colspan="2"><em>Free Shipping</em></td>
                    </tr>
                    <tr>
                      <th colspan="2">Total</th>
                      <td colspan="2" class="product-subtotal">
                        <span class="font-xl text-brand fw-900">₹</span>
                        <span
                          class="font-xl text-brand fw-900 grandTotal"
                          id="GRANDTOTAL"
                        >
                          <%= grandTotal%>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="bt-1 border-color-1 mt-30 mb-30"></div>
              <div class="payment_method">
                <div class="mb-25">
                  <h5>Payment Method:</h5>
                </div>
                <div class="payment_option">
                  <div
                    class="bt-1 border-color-1 d-block justify-content-center"
                  >
                    <button
                      class="btn btn-fill-out btn-block btn-small place-order-cod mb-10"
                      style="width: 10rem"
                    >
                      Place Order (COD)
                    </button>
                    <button
                      class="btn btn-fill-out btn-block btn-small payWallet mb-10"
                      style="width: 10rem"
                    >
                      Wallet
                    </button>
                    <button
                      class="btn btn-fill-out btn-block btn-small razorpay"
                      style="width: 10rem"
                    >
                      Razorpay
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-10 mb-10">
            <div class="col-12">
              <div class="divider mt-10 mb-10"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 mb-sm-15">
              <div class="toggle_info">
                Apply Coupon:
                <a
                  data-bs-toggle="modal"
                  data-bs-target="#couponModal"
                  class="pl-10 font-sm"
                  >Click here</a
                >
              </div>
              <div
                class="modal fade"
                id="couponModal"
                tabindex="-1"
                aria-labelledby="couponModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="couponModalLabel">
                        Coupons for you
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <%if(coupons.length > 0){%> <%coupons.forEach(coupon =>
                      {%>
                      <div class="col mt-15">
                        <div class="card coupon-card border">
                          <div class="text-center mt-10 ml-10 mr-10 mb-10">
                            <div class="d-flex flex-row text-center">
                              <img
                                src="https://icon-library.com/images/coupon-icon-png/coupon-icon-png-21.jpg"
                                width="70"
                              />

                              <div
                                class="d-flex justify-content-center align-items-center flex-column ml-1"
                              >
                                <h1 class="mb-0 amount">
                                  ₹<%=coupon.discountAmount%>
                                </h1>
                                <span class="discount">OFFER</span>
                                <p>
                                  on minimum purchase of
                                  ₹<%=coupon.minimumPurchase%>
                                </p>
                              </div>
                            </div>
                          </div>
                          <hr class="line" />
                          <div class="mt-10 ml-10 mr-10 mb-10">
                            <h5 class="mb-0">
                              Coupon code:
                              <span class="bold" style="color: orange"
                                ><%=coupon.couponCode%></span
                              >
                            </h5>
                            <p>
                              Terms and conditons:<br />
                              <span class="text" style="word-wrap: break-word">
                                <%=coupon.description%>
                              </span>
                            </p>
                            <div class="mt-4 d-flex justify-content-between">
                              <span class="text"
                                >Expires on:
                                <span>
                                  <%=coupon.expiryDate.toISOString().slice(0,
                                  10)%>
                                </span>
                              </span>
                              <a
                                class="btn btn-sm font-sm rounded btn-dark copy-button"
                                onclick="copyToClipboard('<%= coupon.couponCode %>')"
                              >
                                Copy
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <%})%> <%}else{%>
                      <div>
                        <h3>Oops! No coupons available now</h3>
                      </div>
                      <%}%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- coupon -->
            <div class="col-lg-6">
              <div class="toggle_info">
                <span
                  ><i class="fi-rs-label mr-10"></i
                  ><span class="text-muted">Have a coupon?</span>
                  <a
                    href="#coupon"
                    data-bs-toggle="collapse"
                    class="collapsed"
                    aria-expanded="false"
                    >Click here to enter your code</a
                  ></span
                >
              </div>
              <div class="panel-collapse collapse coupon_form" id="coupon">
                <div class="panel-body">
                  <p class="mb-30 font-sm">
                    If you have a coupon code, please apply it below.
                  </p>
                  <form>
                    <div class="form-group">
                      <input
                        type="text"
                        id="couponCODE"
                        placeholder="Enter Coupon Code..."
                      />
                    </div>
                    <div class="form-group">
                      <button class="btn btn-md" id="APPLYCOUPON" name="login">
                        Apply Coupon
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const grandTotal = document.querySelector(".grandTotal").textContent;
      let discount;
      let couponCODE;
      document
        .querySelector(".place-order-cod")
        .addEventListener("click", async (event) => {
          const grandTotal = document.querySelector(".grandTotal").textContent;
          const selectedAddressRadioButtons = document.querySelector(
            "input[name=address]:checked"
          );
          let selectedAddressValue = null;

          if (selectedAddressRadioButtons) {
            selectedAddressValue = selectedAddressRadioButtons.value;

            await fetch(
              `/user/placeorder/cod?addressId=${selectedAddressValue}&grandTotal=${grandTotal}&discount=${discount}&couponcode=${couponCODE}`,
              {
                method: "post",
                body: JSON.stringify({ addressId: selectedAddressValue }),
                headers: {
                  "Content-Type": "application/json",
                },
              }
            )
              .then((response) => response.json())
              .then((data) => {
                if (data.codOutOfStock) {
                  Swal.fire({
                    position: "top-center",
                    icon: "error",
                    title:
                      " Product is Out of stock. Please check your cart..!",
                    showConfirmButton: false,
                    timer: 1500,
                  });
                  setTimeout(() => {
                    window.location.href = "/user/load-cart";
                  }, 1500);
                } else {
                  Swal.fire({
                    position: "top-center",
                    icon: "success",
                    title: "Order placed successfully",
                    showConfirmButton: false,
                    timer: 1500,
                  });
                  setTimeout(() => {
                    window.location.href = "/user/order/success";
                  }, 1500);
                }
              })
              .catch((error) => {
                console.log(error);
              });
          }
          if (selectedAddressValue !== null) {
          } else {
            Swal.fire({
              icon: "error",
              title: "Oops...",
              text: "No Address is Selected!",
            });
          }
        });

      const subTotal = document.getElementById("SUBTOTAL");
      const applyBtn = document.getElementById("APPLYCOUPON");
      const couponRow = document.getElementById("couponRow");
      const updatedTotal = document.querySelector(".grandTotal");
      applyBtn.addEventListener("click", async function (event) {
        event.preventDefault();
        const checkCoupon = document.getElementById("couponCODE").value;
        const couponCode = validateCouponCode(checkCoupon);
        if (couponCode) {
          await fetch(
            `/user/applycoupon?code=${couponCode}&Total=${grandTotal}`
          )
            .then((response) => response.json())
            .then((data) => {
              if (data.error) {
                Swal.fire({
                  position: "center",
                  icon: "error",
                  title: data.error,
                  showConfirmButton: false,
                  timer: 1500,
                });
              } else if (data.message) {
                Swal.fire({
                  position: "center",
                  icon: "success",
                  title: data.message,
                  showConfirmButton: false,
                  timer: 1500,
                });
                const grandTotalValue = parseInt(data.grandTotal, 10);
                const updatedTotalValue = parseInt(data.updatedTotal, 10);
                couponCODE = data.code;
                discount = data.discountAmount;
                subTotal.innerText = grandTotalValue;
                updatedTotal.innerText = updatedTotalValue;
                couponRow.innerHTML = `<tr id="couponRow">
                              <th colspan="2">Coupon Discount</th>
                              <td colspan="2"><em>₹${discount}</em></td>
                            </tr>`;
              }
            });
        }
      });

      const payWallet = document.querySelector(".payWallet");
      payWallet.addEventListener("click", async function (event) {
        event.preventDefault();
        const selectedAddressRadioButtons = document.querySelector(
          "input[name=address]:checked"
        );
        let selectedAddressValue = null;

        if (selectedAddressRadioButtons) {
          selectedAddressValue = selectedAddressRadioButtons.value;

          await fetch(
            `/user/pay-wallet?couponCode=${couponCODE}&grandTotal=${grandTotal}&discount=${discount}`,
            {
              method: "post",
              body: JSON.stringify({ addressId: selectedAddressValue }),
              headers: {
                "Content-Type": "application/json",
              },
            }
          )
            .then((response) => response.json())
            .then((data) => {
              // Handle the response data inside this block
              if (data.codOutOfStock) {
                Swal.fire({
                  position: "top-center",
                  icon: "error",
                  title: " Product is Out of stock. Please check your cart..!",
                  showConfirmButton: false,
                  timer: 1500,
                });
                setTimeout(() => {
                  window.location.href = "/user/load-cart";
                }, 1500);
              } else if (data.walletBalance) {
                Swal.fire({
                  position: "top-center",
                  icon: "error",
                  title: "insufficient balance in your wallet",
                  showConfirmButton: false,
                  timer: 1500,
                });
              } else {
                Swal.fire({
                  position: "top-center",
                  icon: "success",
                  title: "Order placed successfully",
                  showConfirmButton: false,
                  timer: 1500,
                });
                setTimeout(() => {
                  window.location.href = "/user/order/success";
                }, 1500);
              }
            })
            .catch((error) => {
              console.log(error);
            });
        }
        if (selectedAddressValue !== null) {
        } else {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "No Address is Selected!",
          });
        }
      });

      const razorPayBtn = document.querySelector(".razorpay");
      console.log("here1");
      razorPayBtn.addEventListener("click", async function (event) {
        const selectedAddressRadioButtons = document.querySelector(
          "input[name=address]:checked"
        );
        let selectedAddressValue = null;

        if (selectedAddressRadioButtons) {
          selectedAddressValue = selectedAddressRadioButtons.value;
          await fetch("/user/pay-razorpay", {
            method: "post",
            body: JSON.stringify({
              addressId: selectedAddressValue,
              grandTotal,
              discount: discount,
              couponCode: couponCODE,
            }),
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((response) => {
              console.log("logging response");
              return response.json();
            })
            .then((data) => {
              console.log("return form response in postive");
              if (data.completed) {
                const razorOrderID = data.razorOrderId;
                const orderId = data.orderId;
                console.log("reached here", razorOrderID);
                var options = {
                  amount: razorOrderID.amount,
                  key: "rzp_test_GGrk1vYqKj8uDF",
                  order_id: razorOrderID,
                  handler: (response) => {
                    console.log("this is responser");
                    // console.log(response);
                    Swal.fire({
                      position: "top-end",
                      icon: "success",
                      title: "Payment successful",
                      showConfirmButton: false,
                      timer: 1500,
                    });
                    // console.log(response);
                    //payment successfull
                    setTimeout(() => {
                      handlePaymentSuccess(razorOrderID, response, orderId);
                    }, 1500);
                  },
                };
                console.log(" new razorpay");
                var rzp1 = new Razorpay(options);
                rzp1.open();
                rzp1.on("payment.failed", (response) => {
                  console.log("Payment Failed");
                  // console.log(response);
                  Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Payment failed",
                    showConfirmButton: false,
                    timer: 1500,
                  });
                  setTimeout(() => {
                    handlePaymentFailure(razorOrderID, response, orderId);
                  }, 1500);
                });
              } else if (data.onlineOutOfStock) {
                Swal.fire({
                  position: "top-center",
                  icon: "error",
                  title: " Product is Out of stock. Please check your cart..!",
                  showConfirmButton: false,
                  timer: 1500,
                });
                setTimeout(() => {
                  window.location.href = "/user/load-cart";
                }, 1500);
              } else {
                Swal.fire({
                  position: "top-center",
                  icon: "error",
                  title: "something went wrong",
                  showConfirmButton: false,
                  timer: 1500,
                });
              }
            })
            .catch((error) => {
              console.log(error);
            });
        } else {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "No Address is Selected!",
          });
        }
      });
    });

    {
      // Function to update the payment status in the database
      function updatePaymentStatus(
        paymentStatus,
        razorOrderId,
        response,
        orderId
      ) {
        const url = `/user/update-payment-status?paymentStatus=${paymentStatus}&razorOrderId=${razorOrderId}&orderId=${orderId}`;

        fetch(url, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error("Failed to update payment status");
            }
            return response.json();
          })
          .then((data) => {
            if (data.paymentStatus == "Success") {
              window.location.href = `/user/order/success`;
            } else {
              window.location.href = "/user/load-cart";
            }
          })
          .catch((error) => {
            console.error("Failed to update payment status", error);
            window.location.href = "/user/login";
          });
      }
      //function to handle payment success
      function handlePaymentSuccess(razorOrderId, response, orderId) {
        updatePaymentStatus("Success", razorOrderId, response, orderId);
      }

      //function to handle payment failure
      function handlePaymentFailure(razorOrderId, response, orderId) {
        updatePaymentStatus("Failed", razorOrderId, response, orderId);
      }

      function validateCouponCode(code) {
        if (code.trim() == "") {
          Swal.fire({
            icon: "error",
            text: "please enter a valid Coupon Code",
          });
        }
        return code;
      }
      function copyToClipboard(code) {
        navigator.clipboard
          .writeText(code)
          .then(() => {
            Swal.fire({
              position: "center",
              icon: "success",
              title: "Coupon Code copied to Clipboard",
              showConfirmButton: false,
              timer: 1500,
            });
          })
          .catch((err) => {
            console.error("Unable to copy to clipboard", error);
          });
      }
    }
  </script>
  <%-include("./partials/footer.ejs")%>
</body>
