<%-include("./partials/header.ejs")%>

    <main class="main">
      <section class="home-slider position-relative mb-30">
        <div class="container">
          <div class="home-slide-cover bg-grey-10 mt-30">
            <div
              class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1"
            >
            <!-- HERO SECTION IMAGE TOP TEXT -->
              <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                  <div class="row align-items-center slider-animated-1">
                    <div class="col-lg-5 col-md-6">
                      <div class="hero-slider-content-2">
                        <h4 class="animated">Trade-In Offer</h4>
                        <h3 class="animated fw-900">Supper Value Deals</h3>
                        <h2 class="animated fw-900 text-brand">
                          On All Products
                        </h2>
                        <p class="animated">
                          Save more with coupons & up to 70% off
                        </p>
                        <a
                          class="animated btn btn-brush btn-brush-3"
                          href="shop-product-right.html"
                          tabindex="0"
                        >
                          Shop Now
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                      <div class="single-slider-img single-slider-img-1">
                        <img
                          class="animated"
                          src="/userassets/imgs/slider/slider-6.png"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                  <div class="row align-items-center slider-animated-1">
                    <div class="col-lg-5 col-md-6">
                      <div class="hero-slider-content-2">
                        <h4 class="animated">Hot promotions</h4>
                        <h3 class="animated fw-900">Fashion Trending</h3>
                        <h2 class="animated fw-900 text-brand">
                          Great Collection
                        </h2>
                        <p class="animated">
                          Save more with coupons & up to 20% off
                        </p>
                        <a
                          class="animated btn btn-brush btn-brush-1"
                          href="shop-product-right.html"
                          tabindex="0"
                        >
                          Get It Now
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                      <div class="single-slider-img single-slider-img-1">
                        <img
                          class="animated"
                          src="/userassets/imgs/slider/slider-7.png"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider-arrow hero-slider-1-arrow"></div>
          </div>
        </div>
      </section>
            <!-- BELOW THE BANNER SALE SECRTIONS -->
      <!-- <section class="banners mb-20"> -->
        <!-- <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="banner-img wow fadeIn animated">
                <img src="/userassets/imgs/banner/banner-1.png" alt="" />
                <div class="banner-text">
                  <span>Smart Offer</span>
                  <h4>Save 20% on <br />Woman Bag</h4>
                  <a href="shop-grid-right.html"
                    >Shop Now <i class="fi-rs-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="banner-img wow fadeIn animated">
                <img src="/userassets/imgs/banner/banner-2.png" alt="" />
                <div class="banner-text">
                  <span>Sale off</span>
                  <h4>Great Summer <br />Collection</h4>
                  <a href="shop-grid-right.html"
                    >Shop Now <i class="fi-rs-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-md-none d-lg-flex">
              <div class="banner-img wow fadeIn animated mb-sm-0">
                <img src="/userassets/imgs/banner/banner-3.png" alt="" />
                <div class="banner-text">
                  <span>New Arrivals</span>
                  <h4>Shop Today’s <br />Deals & Offers</h4>
                  <a href="shop-grid-right.html"
                    >Shop Now <i class="fi-rs-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      <!-- </section> -->
      <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <div class="widget-category mb-30">
                <h5 class="section-title style-1 mb-30 wow fadeIn animated">
                  Brands
                </h5>
                <ul class="categories">
                  <li><a href="shop-grid-right.html">Apple</a></li>
                  <li><a href="shop-grid-right.html">ASUS</a></li>
                  <li><a href="shop-grid-right.html">Dell</a></li>
                  <li><a href="shop-grid-right.html">HP</a></li>
                  <!-- <li><a href="shop-grid-right.html">Beauty</a></li> -->
                  <!-- <li><a href="shop-grid-right.html">Jewelry & Watch</a></li> -->
                  <!-- <li><a href="shop-grid-right.html">Accessories</a></li> -->
                </ul>
              </div>
              <div class="widget-category mb-30">
                <h5 class="section-title style-1 mb-30 wow fadeIn animated">
                  Sort by
                </h5>
                <ul class="categories">
                  <li><a href="shop-grid-right.html">Popularity</a></li>
                  <!-- <li><a href="shop-grid-right.html">Average rating</a></li> -->
                  <li><a href="shop-grid-right.html">Price: Low to High</a></li>
                  <li><a href="shop-grid-right.html">Price: High to Low</a></li>
                </ul>
              </div>
              <div class="widget-category mb-30">
                <h5 class="section-title style-1 mb-30 wow fadeIn animated">
                  Price Range
                </h5>
                <ul class="categories">
                  <li><a href="shop-grid-right.html">10000-20000</a></li>
                  <li><a href="shop-grid-right.html">20000-40000</a></li>
                  <li><a href="shop-grid-right.html">40000-60000</a></li>
                  <li><a href="shop-grid-right.html">60000-80000</a></li>
                  <li><a href="shop-grid-right.html">80000-100000</a></li>
                  <li><a href="shop-grid-right.html">above 100000</a></li>

                </ul>

              </div>
              <div class="widget-category mb-30">
                <h5 class="section-title style-1 mb-30 wow fadeIn animated">
                  RAM SIZE
                </h5>
                <ul class="categories">
                  <li><a href="shop-grid-right.html">2GB</a></li>
                  <li><a href="shop-grid-right.html">4GB</a></li>
                  <li><a href="shop-grid-right.html">8GB</a></li>
                  <li><a href="shop-grid-right.html">16GB</a></li>
                  <!-- <li><a href="shop-grid-right.html">80000-100000</a></li> -->
                  <!-- <li><a href="shop-grid-right.html">100000-120000</a></li> -->

                </ul>
              </div>
              <div class="widget-category mb-30">
                <h5 class="section-title style-1 mb-30 wow fadeIn animated">
                  Categories
                </h5>
                <ul class="categories">
                  <li><a href="shop-grid-right.html">Gaming Laptop</a></li>
                  <li><a href="shop-grid-right.html">Bussiness Laptop</a></li>
                  <li><a href="shop-grid-right.html">Laptop</a></li>

                </ul>
              </div>
            </div>
            <div class="col-lg-9">
              <div class="tab-content wow fadeIn animated" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="tab-one"
                  role="tabpanel"
                  aria-labelledby="tab-one"
                >
 <!--BODY PRODUCT START  -->
                  <div class="row product-grid-4">
                    <% products.reverse().forEach((e)=>{ %>
                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                      <div class="product-cart-wrap mb-30">
<!-- ejs starts -->
                        <div class="product-img-action-wrap">
                          <div class="product-img product-img-zoom">
                            <% if (e && e.images && e.images.length > 0 && e.images[0].path) { %>
                            <a href="/user/product-details/<%= e._id%>">
                                <!-- BODY HOME FIRST IMAGE -->
                              <img
                                class="default-img"
                                src="<%= e.images[0].path %>"
                                alt=""
                              />
                              <img
                                class="hover-img"
                                src="<%= e.images[1]?.path %>"
                                alt=""
                              />
                            </a>
                            <% } else { %>
                              <span>No Image Available</span>
                            <% } %>
                          </div>
                          <div class="product-action-1">
                            <a
                              aria-label="Add To Wishlist"
                              class="action-btn hover-up"
                              href="shop-wishlist.html"
                              ><i class="fi-rs-heart"></i
                            ></a>
                          </div>
                          <!-- <div
                            class="product-badges product-badges-position product-badges-mrg"
                          >
                            <span class="hot">Hot</span>
                          </div> -->
                        </div>
                        <div class="product-content-wrap">
                          <div class="product-category">
                            <a href="shop-grid-right.html"><%= e.brand%></a>
                          </div>
                          <h2>
                            <a href="shop-product-right.html"
                              ><%= e.productName%></a
                            >
                          </h2>
                          <!-- <div class="rating-result" title="90%">
                            <span>
                              <span>90%</span>
                            </span>
                          </div> -->
                          <div class="product-price">
                            <span>₹ <%= e.salesPrice%></span>
                            <span class="old-price">₹ <%= e.regularPrice%></span>
                          </div>
                          <div class="product-action-1 show">
                            <button
                              aria-label="Add To Cart"
                              class="action-btn hover-up CART"
                              href=""
                              prdctId = "<%= e._id %>"
                              ><i class="fi-rs-shopping-bag-add"></i
                            ></button>
                          </div>
                        </div>
                        <!-- ejs ends -->
                      </div>
                      
                    </div>
                    <% }) %>
   <!--End product-grid-4-->
                </div>
            </div>
          </div>
        </div>
      </section>

    </main>
    <script>
      document.addEventListener("DOMContentLoaded",async (event)=>{

        const addToCartBtn = document.querySelectorAll(".CART")
        addToCartBtn.forEach(element => {

          element.addEventListener("click",async (event) => {
            event.preventDefault();
            const productId = element.getAttribute("prdctId")
           
                await axios({
                method:"post",
                url:"/user/add-to-cart",
                data:{
                productId : productId,
                }
              })
              .then((Response) => {
                return Response.json();
              })
              .then((data) => {
              console.log("this is response message");
                console.log(data.message)
                console.log("response message ends");
              if(data.message){
                  Swal.fire({
                    title: data.message,
                    icon: "success",
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                  });
                }else{
                  console.log("this is response.error");
                  console.log(data.error)
                  console.log("response error ends");
                  Swal.fire({
                    title: "Please login for explore VeeLap.",
                    text: data.error,
                    icon: "error",
                    confirmButtonText: "Ok",
                    timer: 2000,
                    timerProgressBar: true,
                  });
                }
              })
              .catch((error)=>{
                console.log("this is catch error");
                console.log(error);
                console.log("this is catch error ends");
                Swal.fire({
                  title: "Sorry!",
                  text: error,
                  icon: "error",
                  confirmButtonText: "Ok",
                  timer: 2000,
                  timerProgressBar: true,
                  });
              })

          })
          
        });

        });
    </script>
<%-include("./partials/footer.ejs")%>