<%-include("./partials/header.ejs")%>
<div class="col-lg-12">
  <div class="tab-content wow fadeIn animated" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="tab-one"
      role="tabpanel"
      aria-labelledby="tab-one"
    >
      <!--BODY PRODUCT START  -->
      <% if(products.length > 0){ %>
      <div class="row product-grid-4 mx-auto mt-4">
        <!-- Adjusted margin-top -->
        <% products.forEach((e) => { %>
        <div class="col-lg-3 col-md-4 col-12 col-sm-6 mb-4">
          <!-- Adjusted size and added margin -->
          <div class="product-cart-wrap">
            <!-- ejs starts -->
            <div class="product-img-action-wrap">
              <div class="product-img product-img-zoom">
                <% if (e && e.images && e.images.length > 0 && e.images[0].path)
                { %>
                <a href="/product-details/<%= e._id%>">
                  <!-- BODY HOME FIRST IMAGE -->
                  <img
                    class="default-img"
                    src="<%= e.images[0]?.path %>"
                    alt="image"
                  />
                  <img
                    class="hover-img"
                    src="<%= e.images[1]?.path %>"
                    alt="image"
                  />
                </a>
                <% } %>
              </div>
              <% if(e.discountStatus === "Active"){ %>
              <div
                class="product-badges product-badges-position product-badges-mrg"
              >
                <span class="sale">Sale</span>
              </div>
              <% } %>
              <div class="product-action-1">
                <button
                  type="button"
                  aria-label="Add To Wishlist"
                  class="action-btn hover-up WISHLIST"
                  prdctId="<%= e._id %>"
                >
                  <i class="fi-rs-heart"></i>
                </button>
              </div>
            </div>
            <div class="product-content-wrap">
              <div class="product-category">
                <a href="#"><%= e.brand%></a>
              </div>
              <h2><a href="#"><%= e.productName%></a></h2>
              <% if(e.discountStatus === "Active"){ %>
              <div class="product-price">
                <span>₹ <%= e.salesPrice - e.offerAmount %></span>
                <span class="old-price">₹ <%= e.salesPrice%></span>
              </div>
              <% } else { %>
              <div class="product-price">
                <span>₹ <%= e.salesPrice%></span>
              </div>
              <% } %>
              <div class="product-action-1 show">
                <button
                  aria-label="Add To Cart"
                  class="action-btn hover-up CART"
                  type="button"
                  prdctId="<%= e._id %>"
                >
                  <i class="fi-rs-shopping-bag-add"></i>
                </button>
              </div>
            </div>
            <!-- ejs ends -->
          </div>
        </div>
        <% }) %>
        <!-- End product-grid-4 -->
      </div>
      <% } else { %>
      <div class="container">
        <div
          class="text-danger d-flex align-items-center justify-content-center bg-secondary text-light p-4"
        >
          <div class="bg-white p-10">
            <h4 class="text-danger">Sorry No Products Found On Sale.</h4>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", async (event) => {
    const addToCartBtn = document.querySelectorAll(".CART");
    addToCartBtn.forEach((element) => {
      element.addEventListener("click", async (event) => {
        event.preventDefault();
        const productId = element.getAttribute("prdctId");

        try {
          const response = await axios.post("/add-to-cart", {
            productId: productId,
          });
          const data = response.data;
          if (data.message) {
            Swal.fire({
              title: data.message,
              icon: "success",
              showConfirmButton: false,
              timer: 2000,
              timerProgressBar: true,
            });
          } else if (data.productExsist) {
            setTimeout(() => {
              window.location.href = `/load-cart?quantity=${data.quantity}&productId=${data.productId}`;
            });
          } else {
            Swal.fire({
              title: data.error,
              text: "Sorry",
              icon: "error",
              confirmButtonText: "Ok",
              timer: 2000,
              timerProgressBar: true,
            });
          }
        } catch (error) {
          Swal.fire({
            title: "Sorry!",
            text: "An error occurred.",
            icon: "error",
            confirmButtonText: "Ok",
            timer: 2000,
            timerProgressBar: true,
          });
        }
      });
    });
    const wishlistBtn = document.querySelectorAll(".WISHLIST");
    wishlistBtn.forEach((element) => {
      element.addEventListener("click", async function (event) {
        event.preventDefault();
        const productId = element.getAttribute("prdctId");
        try {
          const response = await axios.post(
            `/add-to-wishlist?productId=${productId}`
          );
          const data = response.data;
          if (data) {
            Swal.fire({
              title: data.message ? "success" : "Sorry",
              text: data.message ? data.message : data.error,
              icon: data.message ? "success" : "error",
              confirmButtonText: "Ok",
              timer: 1500,
              timerProgressBar: true,
            });
          }
        } catch (error) {
          Swal.fire({
            title: "Sorry!",
            text: error,
            icon: "error",
            confirmButtonText: "Ok",
            timer: 2000,
            timerProgressBar: true,
          });
        }
      });
    });
  });
</script>

<%-include("./partials/footer.ejs")%>
